.common-btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
 // border: 2px solid pink;
  //color:black;
  border-radius: 30px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 14px;
  margin: 7px 0;
}

